body {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#choice {
  width: 240px;
  height: 240px;
}

#attack {
  width: 240px;
  height: 240px;
}

#defence {
  width: 240px;
  height: 240px;
}


#my-choice {
  width: 240px;
  height: 240px;
}

#myChoice {
  width: 240px;
  height: 240px;
}

#mySecondChoice {
  width: 240px;
  height: 240px;
}



#choices {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  display: flex;
}

#second {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  display: flex;
}

#third {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  display: flex;
}

#choices > img {
  width: 80px;
  height: 80px;
}

#second > img {
  width: 80px;
  height: 80px;
}

#third > img {
  width: 80px;
  height: 80px;
}

.result {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
